* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #42403d;
  touch-action: manipulation;
}

.wrapper {
  display: grid;
  grid-template-columns: 0 1fr;
  grid-template-rows: auto 1fr;
    grid-template-areas:
      "header header"
      "left main";
  height: 100vh;
  transition: grid-template-columns 0.3s, grid-template-rows 0.3s;
}

.main {
  grid-area: main;
  padding: 0 1rem 0 0;
  overflow-y: hidden;
  transition: grid-template-columns 0.3s, grid-template-rows 0.3s;
}

@media (min-width: 1200px) {
  .wrapper {
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "header header"
      "left main";
    transition: grid-template-columns 0.3s, grid-template-rows 0.3s;
  }

  .main {
    padding: 0 1rem ;
  }
}

.spinner {
  display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 4px -2px 1px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-top-color: #3498db;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
