.game-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.chessboard-wrapper {
  grid-column: 1 / 1;
  grid-row: 1 / 2;
}

.right-panel {
  grid-column: 1 / 1;
  grid-row: 2 / 2;
  background-color: #42403d;
  color: white;
}

.right-panel-button-container {
  padding: 5px 5px 10px 5px;
}

@media (min-width: 1040px) {
  .chessboard-wrapper {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
  }

  .right-panel {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
  }
}

@media (min-width: 1040px) {
  .chessboard-wrapper {
    padding: 0 1rem 0 0;
  }
}
