.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  font-size: 58px;
  font-family: cursive;
  
  &.white-piece {
    color: #fff;
    text-shadow:
    -1px -1px 0 #333,
    1px -1px 0 #333,
    -1px 1px 0 #333,
    1px 1px 0 #333;
  }

  &.black-piece {
    color: #333;
    text-shadow:
    -0.5px -0.5px 0 #fff,
    0.5px -0.5px 0 #fff,
    -0.5px 0.5px 0 #fff,
    0.5px 0.5px 0 #fff;
  }
}

.white {
  background-color: #f0d9b5;
}

.black {
  background-color: #b58863;
}
